/* FONTAWESOME*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../Font/fontawesome-webfont.eot?v=3.2.1');
    src: url('../Font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../Font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../Font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../Font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
}

body{
    background-color: #F6F8F5;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


.content-form-img{
    display: flex;
}

.content-form-img div{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/*GAUCHE */

.img-poule{
    flex: 1;
    overflow: hidden;
}

.img-poule img{
   
    height: 100vh;
}

/*DROITE*/

.content-form{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.icon-poule-form{
    display: flex;
    flex-direction: column;
}


.icon-poule-form img{
    width: 200px;
    height: 200px;
}

form{
    display: flex;
    flex-direction: column;
    width: 250px;
}

input[type=text],input[type=password]{
    height: 20px;
    border-color: #9c9c9c;
    border: none;
    width: 100%;
    height: 30px;
    margin-top: 6px;
}

fieldset{
    background-color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
    border-color: grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input[type=submit],input[type=button]{
    margin-top: 20px;
    background-color: #40A681;
    border-color: #40A681;
    color: white;
    padding: 5px;
    transition:  0.5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition:  0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
} 

input[type=submit]:hover,input[type=button]:hover{
   background-color: #318164;
}

fieldset.login::after {
    font-family: FontAwesome;
    content: '\f007';
    color: #9c9c9c;
}

fieldset.password::after {
    font-family: FontAwesome;
    content: '\f023';
    color: #9c9c9c;
}

.epoule{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #40A681;
}

.e{
    color: #FF473E;
}

/*error message js */

#err{
    color: #FF473E;
}